@charset 'UTF-8';



body {
    margin: 0px;
    background-color: rgb(230, 230, 230);
}

header {
    background-color: rgb(141, 36, 36);

}

header > h1 {
    text-align: center;
    margin: 0px;
    color: white;
}

header > #titulodois {
    font-size: 2.3em;
}

header > nav {
    margin-top: 13px;
    margin-left: 7px
}

nav > a {
    text-decoration: none;
    color: white;
    margin-right: 8px;
}

main {
    min-width: 280px;
    max-width: 800px;
    margin: auto;
    padding: 10px;
    background-color: white;
    box-shadow: 5px 4px 3px rgba(0, 0, 0, 0.205);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

main img {
    margin: auto;
    width: 100%;
    
}

section > h2 {
    margin-top: 0px;
    padding-top: 20px;
}

article > div {
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0px;
    padding: 10px;
    background-color: rgb(141, 36, 36);
}